*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #4472C4;
    height: 50px;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
.bg-color{
    background-color: #4472C4; 
    color: white;
    font-size: 19px;
    font-weight: 600;
}
.main{
    display: flex;
    height: 80vh;
    width: 98vw;
    margin: auto;
    border: 4px solid gray;
}
.list-of-country{
    width: 90%;
    margin: auto;
}
hr{
    width: 5.6px;
    background: #201f1f;
}
li{
    padding: 10px 5px;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid rgb(31, 31, 31);
}
.info{
    background-color: #4472C4;
    color: white;
    border: 1px solid black;
    width: 15vw;
    font-size: 19px;
    font-weight: 600;
    padding: 6px;
  }
  thead{
    margin-top: 25px;
  }
  table{
    border: 1px solid black;
    width:100%;
    height: 60%;
    margin: auto;
  }
.left-side{
    width: 15vw;
    position: relative;
}
.left-inner-code{
    width: 90%;
   display: flex;   
   flex-direction: column;
   position: absolute;
   top: 38px;
   left: 5%;
}
.left-inner-code button{
    padding: 9px;
    width: 83%;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #4472C4;
    color: #ffffff;
    cursor: pointer;
}
.left-inner-code div{
border: 1px solid black; 
padding: 8px 0 8px 3px;
cursor: pointer;
}
.right-side{
    width: 85vw;
    position: relative;

}
.search-sec{
    width: 30%;
    position: absolute;
    right: 5px;
    top: 20px;
}
.search-sec input{
    border: none;
    width: 65%;
    padding: 5px;
    border: 1px solid slategray;
    border-radius: 5px;
    outline: none;
    position: relative;
    top: 17px;
    font-size: 17px;

}
.search-sec button{
    width: 33%;
    padding: 5px;
    border-radius: 5px;
    background-color:#4472C4;
    color: #ffffff;
    border: none;
   position: absolute;
   right: 17px;
   top: 17px;
   font-size: 17px;
   font-weight: 600;
   border: 1px solid slategray;
   cursor: pointer;
}


#append-content{
    width: 98%;
   /* background-color: rgb(204, 240, 240); */
    position: absolute;
    top: 80px;
    left: 0.9%;
}

.parent{
    display: flex;
}
.parent div{
    width: 17%;
    padding: 5px 0px 5px 4px;
    border: 1px solid gray;
    color: #000000;
}
.bg-highlight{
background-color: rgb(244, 201, 61);

}
.border{
    outline-color: #6db131;
    outline-style: solid;
    outline-width: 2px;
}
#child-container{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border: 1px solid #1c1b1b;
    height: 237px;
}
